<form class="update-form form-group">
  <fieldset>
    <legend>Update A Survey</legend>
    <label>Name:</label>
    <input name='name' class="form-control" type='text' placeholder="name" value="{{survey.name}}" required>
    <br>
    <label>Description:</label>
    <input name='description' class="form-control" type='text' placeholder="description" value="{{survey.description}}">
    <br>
    <label>Answer Options:</label>
    {{#each survey.options as |optionObject|}}
      <input name='options[0]' class="form-control" type='text' placeholder="Option" value="{{optionObject.option}}">
    {{/each}}
    <br>
    <input type='submit' class="form-control" value='Submit Survey'>
  </fieldset>
</form>
