<form class="update-form form-group">
  <fieldset>
    <legend>Edit your post :)</legend>
    <label>Title:</label>
    <input name='title' type='text' class="form-control" placeholder="title" value="{{post.title}}" required>
    <br>
    <label>Author:</label>
    <input name='author' type='text' class="form-control" placeholder="name/alias/historical figure" value="{{post.author}}">
    <br>
    <label>Body:</label>
    <textarea name='body' class="form-control" placeholder="here goes nothing!" rows="5" required>{{post.body}}</textarea>
    <br>
    <input type='submit' class="form-control" value='Submit Post'>
  </fieldset>
</form>
