<form class="create-form form-group">
  <fieldset>
    <legend>Create something :)</legend>
    <label>Title:</label>
    <input name='title' class="form-control" type='text' placeholder="title" required>
    <br>
    <label>Author:</label>
    <input name='author' class="form-control" type='text' placeholder="name/alias/historical figure">
    <br>
    <label>Body:</label>
    <textarea name='body' class="form-control" placeholder="here goes nothing!" rows="5" required></textarea>
    <br>
    <input type='submit' class="form-control" value='Submit Post'>
  </fieldset>
</form>
