<form class="create-form form-group">
  <fieldset>
    <legend>Create A Survey</legend>
    <label>Name:</label>
    <input name='name' class="form-control" type='text' placeholder="name" required>
    <br>
    <label>Description:</label>
    <input name='description' class="form-control" type='text' placeholder="description">
    <br>
    <label>Options:</label>
    <textarea name='options' class="form-control" placeholder="here goes nothing!" rows="5" required></textarea>
    <br>
    <input type='submit' class="form-control" value='Submit Survey'>
  </fieldset>
</form>
