@import '~bootstrap/scss/bootstrap';

// hex to be written in lower case letters
// repetitive letter to be shortcutted to 3 letters
$font-color: #628aa4;
$background: #645548;
$media-background: #242e3f;
$color-white: #fff;
$golden-color: #a88868;
$user-actions: #43403d;

@font-face {
  font-family: 'Niramit';
  src: url('public/Niramit/Niramit-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Tenali Ramakrishna';
  src: url('public/Tenali_Ramakrishna/TenaliRamakrishna-Regular.ttf') format('truetype');
}

html,
body {
  background-color: $media-background;
  background-image: url('https://www.transparenttextures.com/patterns/arches.png');
  height: 100%;
}

h1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/johannes-plenio-DKix6Un55mw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  font-family: 'Tenali Ramakrishna';
  font-size: 55px;
  padding: 60px 10px;
  position: relative;
}

.page-content {
  flex: 1 0 auto;
}

#message,
.name {
  color: $font-color;
}

main {
  flex-direction: row-reverse;
  font-family: 'Niramit';
}

.box {
  background-color: $background;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.box .box {
  background-color: $font-color;
}

.intro {
  color: $font-color;
}

.user-actions {
  background-color: $user-actions;
  border-radius: 4px;
  color: $golden-color;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-top: 15px;
}

.sticky-footer {
  flex-shrink: none;
  font-family: 'Niramit';
}

@media (min-width: 480px) {
  body {
    background-color: $media-background;
  }

  h1 {
    font-size: 60px;
    padding: 80px 20px;
  }

  .user-actions {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  body {
    background-color: $media-background;
  }

  h1 {
    font-size: 90px;
    padding: 120px 80px 120px 40px;
  }
}

@media (min-width: 992px) {
  body {
    background-color: $media-background;
  }

  h1 {
    padding: 150px 80px 150px 30px;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: $media-background;
  }

  h1 {
    padding: 180px 80px 180px 40px;
}

  .box {
    background-color: $background;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
  }
}

.create-form,
.update-form {
  color: $font-color;
}
